<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard Sample</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }

      .sidebar-item {
        padding: 10px 20px;
        cursor: pointer;
      }

      .dashboard-header {
        background-color: #e8df97;
        color: #fff;
        padding: 20px;
      }

      .dashboard-content {
        padding: 20px;
      }
    </style>
  </head>
  <body>
    <form [formGroup]="loginForm">
      <mat-form-field class="w-[200px]">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          formControlName="userEmail"
          placeholder="Ex. pat@example.com"
        />
        @if (loginForm.controls['userEmail'].hasError('email') &&
        !loginForm.controls['userEmail'].hasError('required')) {
        <mat-error>Please enter a valid email address</mat-error>
        } @if (loginForm.controls['userEmail'].hasError('required')) {
        <mat-error>Email is <strong>required</strong></mat-error>
        }
      </mat-form-field>
      <mat-form-field class="w-[200px]">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" />
        @if (loginForm.controls['password'].hasError('password') &&
        !loginForm.controls['password'].hasError('required')) {
        <mat-error>Please enter a valid password</mat-error>
        } @if (loginForm.controls['password'].hasError('required')) {
        <mat-error>Password is <strong>required</strong></mat-error>
        }
      </mat-form-field>
    </form>
  </body>
</html>
