<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-center gap-x-4">
      <div class="flex-col">
        <div class="text-[18px] text-white m-0 p-0 leading-[1.2] tracking-normal normal-case text-left">Spring Sale 25% Off Sale ends in May 2025.</div>
        <div class="text-[14px] text-[#7c7c7c] leading-[1.2] tracking-normal p-0 m-0">Get 25% off all orders during sale.</div>
      </div>
      <a class="block cursor-pointer no-underline bg-[#B480F2] border-0 whitespace-nowrap px-4 py-2 leading-[1.5] rounded-[20px] text-[14px] text-white" href="https://gw2y2q-ur.myshopify.com">Shop now!</a>
    </div>
  </div>
</nav>
