<div class="w-screen h-screen relative">
  <video autoplay loop muted class="w-full h-full object-cover">
    <source src="https://www.iamkarra.com/cdn/shop/videos/c/vp/16967a034c4d47bdad6ae78a4f83960d/16967a034c4d47bdad6ae78a4f83960d.HD-720p-1.6Mbps-43097474.mp4?v=0" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div class="absolute inset-0 flex items-center justify-center">
    <div class="flex-col">
      <div class="text-white text-4xl font-bold px-[20px]">KARRA VOCAL TEMPLATES</div>
      <div class="text-white text-lg pt-[32px] px-[20px]">Record & Mix with 100% Stock Plugins in your DAW</div>
      <div class="flex justify-center  pt-[32px] px-[20px]"><a class="block cursor-pointer no-underline bg-[#B480F2] border-0 whitespace-nowrap px-[40px] py-[17px] leading-[1.5] rounded-[20px] text-[14px] text-white w-[300px]" href="https://gw2y2q-ur.myshopify.com">SHOP ALL VOCAL TEMPLATES</a></div>
    </div>
  </div>
</div>
<app-mixing-template></app-mixing-template>
<app-sample-pack></app-sample-pack>
